# **Proyek Akhir: Menyelesaikan Permasalahan Perusahaan Jaya Jaya Maju**

* **Name**: Yanuar Ginting
* **Email**: yanuarginting@gmail.com
* **Dicoding ID**: imyanuarginting

## **Persiapan**

## **Menyiapkan Library Yang Dibutuhkan**

In [1108]:
import gdown
import os
import zipfile
import pandas as pd

pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)

## **Menyiapkan Data Yang Akan Digunakan**

## **Data Understanding**

Pertanyaan yang akan dicari jawabannya dalan proyek ini:

* Apa faktor yang mempengaruhi tingginya attrition rate?

Employee Data
The data contains demographic details, work-related metrics and attrition flag.

* **EmployeeId** - Employee Identifier
* **Attrition** - Did the employee attrition? (0=no, 1=yes)
* **Age** - Age of the employee
* **BusinessTravel** - Travel commitments for the job
* **DailyRate** - Daily salary
* **Department** - Employee Department
* **DistanceFromHome** - Distance from work to home (in km)
* **Education** - 1-Below College, 2-College, 3-Bachelor, 4-Master, 5-Doctor
* **EducationField** - Field of Education
* **EnvironmentSatisfaction** - 1-Low, 2-Medium, 3-High, 4-Very High
* **Gender** - Employee's gender
* **HourlyRate** - Hourly salary
* **JobInvolvement** - 1-Low, 2-Medium, 3-High, 4-Very High
* **JobLevel** - Level of job (1 to 5)
* **JobRole** - Job Roles
* **JobSatisfaction** - 1-Low, 2-Medium, 3-High, 4-Very High
* **MaritalStatus** - Marital Status
* **MonthlyIncome** - Monthly salary
* **MonthlyRate** - Monthly rate
* **NumCompaniesWorked** - Number of companies worked at
* **Over18** - Over 18 years of age?
* **OverTime** - Overtime?
* **PercentSalaryHike** - The percentage increase in salary last year
* **PerformanceRating** - 1-Low, 2-Good, 3-Excellent, 4-Outstanding
* **RelationshipSatisfaction** - 1-Low, 2-Medium, 3-High, 4-Very High
* **StandardHours** - Standard Hours
* **StockOptionLevel** - Stock Option Level
* **TotalWorkingYears** - Total years worked
* **TrainingTimesLastYear** - Number of training attended last year
* **WorkLifeBalance** - 1-Low, 2-Good, 3-Excellent, 4-Outstanding
* **YearsAtCompany** - Years at Company
* **YearsInCurrentRole** - Years in the current role
* **YearsSinceLastPromotion** - Years since the last promotion
* **YearsWithCurrManager** - Years with the current manager

## **Data Preparation / Preprocessing**

In [1109]:
url = 'https://drive.google.com/uc?id=1G2JqEJgHtKng9kPtYkUz6deDpn80BMDD'
output = 'employee_data.csv'
gdown.download(url, output)

url = 'https://drive.google.com/uc?id=1R-TCNBIXXVHhDyl6Qr9tPBZQYJ49s22P'
output = 'README.md'
gdown.download(url, output)

Downloading...
From: https://drive.google.com/uc?id=1G2JqEJgHtKng9kPtYkUz6deDpn80BMDD
To: /content/employee_data.csv
100%|██████████| 226k/226k [00:00<00:00, 69.6MB/s]
Downloading...
From: https://drive.google.com/uc?id=1R-TCNBIXXVHhDyl6Qr9tPBZQYJ49s22P
To: /content/README.md
100%|██████████| 1.91k/1.91k [00:00<00:00, 1.49MB/s]

'README.md'

In [1110]:
# URL = ''
# engine = create_engine(URL)
# df = pd.read_sql_table(table_name='orders', con=engine.connect())
# df.head()

In [1111]:
# df = pd.read_csv(
#     "https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/superstore/Superstore.csv"
# )
# df.head()

In [1112]:
df = pd.read_csv('employee_data.csv')
df.head()

,EmployeeId,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,38,NaN,Travel_Frequently,1444,Human Resources,1,4,Other,1,4,Male,88,3,1,Human Resources,2,Married,2991,5224,0,Y,Yes,11,3,2,80,1,7,2,3,6,2,1,2
1,2,37,1.0,Travel_Rarely,1141,Research & Development,11,2,Medical,1,1,Female,61,1,2,Healthcare Representative,2,Married,4777,14382,5,Y,No,15,3,1,80,0,15,2,1,1,0,0,0
2,3,51,1.0,Travel_Rarely,1323,Research & Development,4,4,Life Sciences,1,1,Male,34,3,1,Research Scientist,3,Married,2461,10332,9,Y,Yes,12,3,3,80,3,18,2,4,10,0,2,7
3,4,42,0.0,Travel_Frequently,555,Sales,26,3,Marketing,1,3,Female,77,3,4,Sales Executive,2,Married,13525,14864,5,Y,No,14,3,4,80,1,23,2,4,20,4,4,8
4,5,40,NaN,Travel_Rarely,1194,Research & Development,2,4,Medical,1,3,Female,98,3,1,Research Scientist,3,Married,2001,12549,2,Y,No,14,3,2,80,3,20,2,3,5,3,0,2

In [1113]:
print(df.isna().sum())

EmployeeId                    0
Age                           0
Attrition                   412
BusinessTravel                0
DailyRate                     0
Department                    0
DistanceFromHome              0
Education                     0
EducationField                0
EmployeeCount                 0
EnvironmentSatisfaction       0
Gender                        0
HourlyRate                    0
JobInvolvement                0
JobLevel                      0
JobRole                       0
JobSatisfaction               0
MaritalStatus                 0
MonthlyIncome                 0
MonthlyRate                   0
NumCompaniesWorked            0
Over18                        0
OverTime                      0
PercentSalaryHike             0
PerformanceRating             0
RelationshipSatisfaction      0
StandardHours                 0
StockOptionLevel              0
TotalWorkingYears             0
TrainingTimesLastYear         0
WorkLifeBalance               0
YearsAtCompany                0
YearsInCurrentRole            0
YearsSinceLastPromotion       0
YearsWithCurrManager          0
dtype: int64

In [1114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmployeeId                1470 non-null   int64
 1   Age                       1470 non-null   int64
 2   Attrition                 1058 non-null   float64
 3   BusinessTravel            1470 non-null   object
 4   DailyRate                 1470 non-null   int64
 5   Department                1470 non-null   object
 6   DistanceFromHome          1470 non-null   int64
 7   Education                 1470 non-null   int64
 8   EducationField            1470 non-null   object
 9   EmployeeCount             1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: float64(1), int64(26), object(8)
memory usage: 402.1+ KB

In [1115]:
df = df.dropna(subset=['Attrition'])

In [1116]:
print(df.isna().sum())

EmployeeId                  0
Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [1117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1058 entries, 1 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmployeeId                1058 non-null   int64
 1   Age                       1058 non-null   int64
 2   Attrition                 1058 non-null   float64
 3   BusinessTravel            1058 non-null   object
 4   DailyRate                 1058 non-null   int64
 5   Department                1058 non-null   object
 6   DistanceFromHome          1058 non-null   int64
 7   Education                 1058 non-null   int64
 8   EducationField            1058 non-null   object
 9   EmployeeCount             1058 non-null   int64
 10  EnvironmentSatisfaction   1058 non-null   int64
 11  Gender                    1058 non-null   object
 12  HourlyRate                1058 non-null   int64
 13  JobInvolvement            1058 non-null   int64
 14  JobLevel                  1058 non-null   int64
 15  JobRole                   1058 non-null   object
 16  JobSatisfaction           1058 non-null   int64
 17  MaritalStatus             1058 non-null   object
 18  MonthlyIncome             1058 non-null   int64
 19  MonthlyRate               1058 non-null   int64
 20  NumCompaniesWorked        1058 non-null   int64
 21  Over18                    1058 non-null   object
 22  OverTime                  1058 non-null   object
 23  PercentSalaryHike         1058 non-null   int64
 24  PerformanceRating         1058 non-null   int64
 25  RelationshipSatisfaction  1058 non-null   int64
 26  StandardHours             1058 non-null   int64
 27  StockOptionLevel          1058 non-null   int64
 28  TotalWorkingYears         1058 non-null   int64
 29  TrainingTimesLastYear     1058 non-null   int64
 30  WorkLifeBalance           1058 non-null   int64
 31  YearsAtCompany            1058 non-null   int64
 32  YearsInCurrentRole        1058 non-null   int64
 33  YearsSinceLastPromotion   1058 non-null   int64
 34  YearsWithCurrManager      1058 non-null   int64
dtypes: float64(1), int64(26), object(8)
memory usage: 297.6+ KB

In [1118]:
print('Number of duplicates: ', df.duplicated().sum())

Number of duplicates:  0

In [1119]:
num_cols = df.select_dtypes(include='number').columns.tolist()
cat_cols = df.select_dtypes(include='object').columns.tolist()

In [1120]:
remove_cols = [
    'EmployeeId',
    'Age',
    'DailyRate',
    'DistanceFromHome',
    'HourlyRate',
    'MonthlyIncome',
    'MonthlyRate',
    'NumCompaniesWorked',
    'PercentSalaryHike',
    'TotalWorkingYears',
    'TrainingTimesLastYear',
    'YearsAtCompany',
    'YearsInCurrentRole',
    'YearsSinceLastPromotion',
    'YearsWithCurrManager',
]
num_cols = [col for col in num_cols if col not in remove_cols]
num_cols

['Attrition',
 'Education',
 'EmployeeCount',
 'EnvironmentSatisfaction',
 'JobInvolvement',
 'JobLevel',
 'JobSatisfaction',
 'PerformanceRating',
 'RelationshipSatisfaction',
 'StandardHours',
 'StockOptionLevel',
 'WorkLifeBalance']

In [1121]:
for col in num_cols:
  # print('{}: {}'.format(col, df[col].unique()))
  print(df[col].value_counts())
  print('')

Attrition
0.0    879
1.0    179
Name: count, dtype: int64

Education
3    410
4    276
2    208
1    131
5     33
Name: count, dtype: int64

EmployeeCount
1    1058
Name: count, dtype: int64

EnvironmentSatisfaction
3    335
4    314
1    209
2    200
Name: count, dtype: int64

JobInvolvement
3    625
2    273
4    105
1     55
Name: count, dtype: int64

JobLevel
1    394
2    364
3    165
4     80
5     55
Name: count, dtype: int64

JobSatisfaction
4    340
3    318
1    205
2    195
Name: count, dtype: int64

PerformanceRating
3    899
4    159
Name: count, dtype: int64

RelationshipSatisfaction
3    324
4    323
2    210
1    201
Name: count, dtype: int64

StandardHours
80    1058
Name: count, dtype: int64

StockOptionLevel
0    471
1    422
2    110
3     55
Name: count, dtype: int64

WorkLifeBalance
3    638
2    251
4    113
1     56
Name: count, dtype: int64

In [1122]:
for col in cat_cols:
  # print('{}: {}'.format(col, df[col].unique()))
  print(df[col].value_counts())
  print('')

BusinessTravel
Travel_Rarely        746
Travel_Frequently    205
Non-Travel           107
Name: count, dtype: int64

Department
Research & Development    701
Sales                     319
Human Resources            38
Name: count, dtype: int64

EducationField
Life Sciences       436
Medical             330
Marketing           122
Technical Degree     96
Other                59
Human Resources      15
Name: count, dtype: int64

Gender
Male      620
Female    438
Name: count, dtype: int64

JobRole
Sales Executive              232
Research Scientist           214
Laboratory Technician        188
Manufacturing Director       107
Healthcare Representative     88
Manager                       79
Research Director             62
Sales Representative          58
Human Resources               30
Name: count, dtype: int64

MaritalStatus
Married     464
Single      352
Divorced    242
Name: count, dtype: int64

Over18
Y    1058
Name: count, dtype: int64

OverTime
No     751
Yes    307
Name: count, dtype: int64

In [1123]:
df['Attrition'] = df['Attrition'].astype(int)
df['Education'] = df['Education'].astype(str)
df['EnvironmentSatisfaction'] = df['EnvironmentSatisfaction'].astype(str)
df['JobInvolvement'] = df['JobInvolvement'].astype(str)
df['JobLevel'] = df['JobLevel'].astype(str)
df['JobSatisfaction'] = df['JobSatisfaction'].astype(str)
df['PerformanceRating'] = df['PerformanceRating'].astype(str)
df['RelationshipSatisfaction'] = df['RelationshipSatisfaction'].astype(str)
df['StockOptionLevel'] = df['StockOptionLevel'].astype(str)
df['WorkLifeBalance'] = df['WorkLifeBalance'].astype(str)

In [1124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1058 entries, 1 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmployeeId                1058 non-null   int64
 1   Age                       1058 non-null   int64
 2   Attrition                 1058 non-null   int64
 3   BusinessTravel            1058 non-null   object
 4   DailyRate                 1058 non-null   int64
 5   Department                1058 non-null   object
 6   DistanceFromHome          1058 non-null   int64
 7   Education                 1058 non-null   object
 8   EducationField            1058 non-null   object
 9   EmployeeCount             1058 non-null   int64
 10  EnvironmentSatisfaction   1058 non-null   object
 11  Gender                    1058 non-null   object
 12  HourlyRate                1058 non-null   int64
 13  JobInvolvement            1058 non-null   object
 14  JobLevel                  1058 non-null   object
 15  JobRole                   1058 non-null   object
 16  JobSatisfaction           1058 non-null   object
 17  MaritalStatus             1058 non-null   object
 18  MonthlyIncome             1058 non-null   int64
 19  MonthlyRate               1058 non-null   int64
 20  NumCompaniesWorked        1058 non-null   int64
 21  Over18                    1058 non-null   object
 22  OverTime                  1058 non-null   object
 23  PercentSalaryHike         1058 non-null   int64
 24  PerformanceRating         1058 non-null   object
 25  RelationshipSatisfaction  1058 non-null   object
 26  StandardHours             1058 non-null   int64
 27  StockOptionLevel          1058 non-null   object
 28  TotalWorkingYears         1058 non-null   int64
 29  TrainingTimesLastYear     1058 non-null   int64
 30  WorkLifeBalance           1058 non-null   object
 31  YearsAtCompany            1058 non-null   int64
 32  YearsInCurrentRole        1058 non-null   int64
 33  YearsSinceLastPromotion   1058 non-null   int64
 34  YearsWithCurrManager      1058 non-null   int64
dtypes: int64(18), object(17)
memory usage: 297.6+ KB

In [1125]:
df = df.drop(columns=['EmployeeCount', 'Over18', 'StandardHours'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1058 entries, 1 to 1469
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmployeeId                1058 non-null   int64
 1   Age                       1058 non-null   int64
 2   Attrition                 1058 non-null   int64
 3   BusinessTravel            1058 non-null   object
 4   DailyRate                 1058 non-null   int64
 5   Department                1058 non-null   object
 6   DistanceFromHome          1058 non-null   int64
 7   Education                 1058 non-null   object
 8   EducationField            1058 non-null   object
 9   EnvironmentSatisfaction   1058 non-null   object
 10  Gender                    1058 non-null   object
 11  HourlyRate                1058 non-null   int64
 12  JobInvolvement            1058 non-null   object
 13  JobLevel                  1058 non-null   object
 14  JobRole                   1058 non-null   object
 15  JobSatisfaction           1058 non-null   object
 16  MaritalStatus             1058 non-null   object
 17  MonthlyIncome             1058 non-null   int64
 18  MonthlyRate               1058 non-null   int64
 19  NumCompaniesWorked        1058 non-null   int64
 20  OverTime                  1058 non-null   object
 21  PercentSalaryHike         1058 non-null   int64
 22  PerformanceRating         1058 non-null   object
 23  RelationshipSatisfaction  1058 non-null   object
 24  StockOptionLevel          1058 non-null   object
 25  TotalWorkingYears         1058 non-null   int64
 26  TrainingTimesLastYear     1058 non-null   int64
 27  WorkLifeBalance           1058 non-null   object
 28  YearsAtCompany            1058 non-null   int64
 29  YearsInCurrentRole        1058 non-null   int64
 30  YearsSinceLastPromotion   1058 non-null   int64
 31  YearsWithCurrManager      1058 non-null   int64
dtypes: int64(16), object(16)
memory usage: 272.8+ KB

In [1126]:
df.sample(10)

,EmployeeId,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1159,1160,27,0,Travel_Rarely,1130,Sales,8,4,Marketing,2,Female,56,3,2,Sales Executive,2,Married,6214,3415,1,No,18,3,1,1,8,3,3,8,7,0,7
70,71,52,0,Travel_Frequently,322,Research & Development,28,2,Medical,4,Female,59,4,4,Manufacturing Director,3,Married,13247,9731,2,Yes,11,3,2,1,24,3,2,5,3,0,2
1270,1271,29,0,Travel_Rarely,232,Research & Development,19,3,Technical Degree,4,Male,34,3,2,Manufacturing Director,4,Divorced,4262,22645,4,No,12,3,2,2,8,2,4,3,2,1,2
308,309,19,1,Non-Travel,504,Research & Development,10,3,Medical,1,Female,96,2,1,Research Scientist,2,Single,1859,6148,1,Yes,25,4,2,0,1,2,4,1,1,0,0
1463,1464,53,0,Travel_Rarely,238,Sales,1,1,Medical,4,Female,34,3,2,Sales Executive,1,Single,8381,7507,7,No,20,4,4,0,18,2,4,14,7,8,10
426,427,46,0,Travel_Frequently,638,Research & Development,1,3,Medical,3,Male,40,2,3,Healthcare Representative,1,Married,10673,3142,2,Yes,13,3,3,1,21,5,2,10,9,9,5
421,422,30,1,Travel_Rarely,138,Research & Development,22,3,Life Sciences,1,Female,48,3,1,Research Scientist,3,Married,2132,11539,4,Yes,11,3,2,0,7,2,3,5,2,0,1
1336,1337,34,0,Travel_Rarely,470,Research & Development,2,4,Life Sciences,4,Male,84,2,2,Manufacturing Director,1,Married,5957,23687,6,No,13,3,2,1,13,3,3,11,9,5,9
249,250,60,0,Travel_Rarely,422,Research & Development,7,3,Life Sciences,1,Female,41,3,5,Manager,1,Married,19566,3854,5,No,11,3,4,0,33,5,1,29,8,11,10
1195,1196,26,0,Travel_Frequently,575,Research & Development,1,2,Life Sciences,1,Female,71,1,1,Laboratory Technician,4,Divorced,4364,5288,3,No,14,3,1,1,5,2,3,2,2,2,0

Nilai dalam feature NumCompaniesWorked lebih besar daripada nilai dalam feature TotalWorkingYears, bisa dipastikan bahwa employee tersebut pernah mengambil banyak magang

In [1127]:
df[['EmployeeId', 'Age', 'TotalWorkingYears', 'NumCompaniesWorked', 'YearsAtCompany']][(df['TotalWorkingYears'] > 0) & (df['NumCompaniesWorked'] > df['TotalWorkingYears'])]

      EmployeeId  Age  TotalWorkingYears  NumCompaniesWorked  YearsAtCompany
28            29   59                  7                   8               2
40            41   50                  4                   7               2
68            69   43                  7                   8               4
111          112   22                  4                   6               2
125          126   32                  6                   8               4
207          208   31                  7                   8               4
247          248   25                  6                   7               4
349          350   26                  5                   7               2
413          414   31                  8                   9               3
431          432   32                  5                   6               3
460          461   40                  5                   9               3
474          475   24                  6                   8               4
489          490   41                  5                   6               1
552          553   27                  4                   9               2
567          568   30                  3                   9               1
583          584   36                  6                   9               1
666          667   29                  6                   9               3
667          668   24                  4                   9               2
748          749   28                  5                   6               2
777          778   30                  4                   8               2
964          965   22                  4                   5               2
986          987   56                  7                   9               5
1064        1065   34                  6                   9               3
1093        1094   27                  6                   9               2
1125        1126   30                  4                   7               2
1145        1146   27                  5                   8               1
1206        1207   40                  3                   8               1
1284        1285   29                  5                   6               3
1287        1288   42                  8                   9               4
1376        1377   29                  3                   6               0
1430        1431   31                  3                   7               1
1435        1436   58                  3                   9               1
1441        1442   52                  6                   7               2
1446        1447   26                  7                   8               2
1468        1469   40                  6                   9               4

In [1128]:
df[['EmployeeId', 'Age', 'TotalWorkingYears', 'NumCompaniesWorked', 'YearsAtCompany']][(df['TotalWorkingYears'] == 0) & (df['NumCompaniesWorked'] > df['TotalWorkingYears'])]

      EmployeeId  Age  TotalWorkingYears  NumCompaniesWorked  YearsAtCompany
109          110   18                  0                   1               0
166          167   18                  0                   1               0
374          375   21                  0                   1               0
504          505   19                  0                   1               0
892          893   18                  0                   1               0
1020        1021   18                  0                   1               0
1065        1066   18                  0                   1               0
1116        1117   18                  0                   1               0
1171        1172   27                  0                   1               0

Saya rasa data dibawah merupakan anomali, karena nilai dalam feature TotalWorkingYears lebih besar daripada nilai dalam feature YearsAtCompany dan nilai 0 dalam feature NumCompaniesWorked

In [1129]:
pd.set_option('display.max_rows', None)

df[['EmployeeId', 'Age', 'TotalWorkingYears', 'NumCompaniesWorked', 'YearsAtCompany']][(df['TotalWorkingYears'] > 0) & (df['NumCompaniesWorked'] == 0) & (df['YearsAtCompany'] < df['TotalWorkingYears'])]

      EmployeeId  Age  TotalWorkingYears  NumCompaniesWorked  YearsAtCompany
14            15   31                 10                   0               9
30            31   36                 17                   0              16
34            35   31                  3                   0               2
41            42   39                 19                   0              18
42            43   35                  6                   0               5
48            49   38                 10                   0               9
77            78   45                  9                   0               8
96            97   57                 13                   0              12
99           100   32                  4                   0               3
101          102   34                  3                   0               2
113          114   42                  7                   0               6
116          117   35                 10                   0               9
128          129   33                  4                   0               3
134          135   28                  6                   0               5
141          142   36                 10                   0               9
151          152   30                 12                   0              11
159          160   24                  3                   0               2
169          170   42                 10                   0               9
171          172   32                  4                   0               3
175          176   30                  4                   0               3
178          179   30                  7                   0               6
190          191   38                 12                   0              11
193          194   31                  3                   0               2
210          211   34                 10                   0               9
213          214   32                  7                   0               6
214          215   35                  6                   0               5
216          217   28                  6                   0               5
223          224   30                 12                   0              11
233          234   42                 22                   0              21
255          256   42                 21                   0              20
261          262   24                  6                   0               5
281          282   36                 15                   0              14
293          294   27                  5                   0               4
295          296   30                 12                   0              11
303          304   33                  3                   0               2
314          315   29                 10                   0               9
320          321   29                  6                   0               5
348          349   45                 25                   0              24
358          359   37                  7                   0               6
364          365   34                 14                   0              13
366          367   34                  7                   0               6
384          385   31                  6                   0               5
390          391   30                 10                   0               9
392          393   34                 10                   0               9
393          394   35                  4                   0               3
398          399   31                  6                   0               5
418          419   39                 20                   0              19
423          424   55                 37                   0              36
429          430   24                  6                   0               5
433          434   26                  8                   0               7
437          438   38                  3                   0               2
443          444   33                 15                   0              14
455          456   35                  9                   0               8
465          466   36                  2                   0               1
470          471   28                  9                   0               8
488          489   36                  6                   0               5
506          507   24                  5                   0               4
507          508   22                  3                   0               2
515          516   33                 14                   0              13
524          525   27                  4                   0               3
525          526   42                 23                   0              22
530          531   40                 22                   0              21
538          539   31                  6                   0               5
549          550   26                  7                   0               6
569          570   33                  5                   0               4
572          573   45                 21                   0              20
584          585   43                  9                   0               8
587          588   34                  4                   0               3
589          590   38                  9                   0               8
602          603   37                  6                   0               5
610          611   25                  5                   0               4
619          620   38                  3                   0               2
620          621   36                 16                   0              15
626          627   27                  6                   0               5
632          633   22                  3                   0               2
657          658   32                  9                   0               8
660          661   33                 10                   0               9
669          670   28                 10                   0               9
674          675   52                 34                   0              33
679          680   22                  4                   0               3
680          681   40                  5                   0               4
681          682   33                  6                   0               5
686          687   35                  5                   0               4
693          694   33                  6                   0               5
695          696   33                  8                   0               7
723          724   52                  5                   0               4
732          733   31                  3                   0               2
734          735   36                 10                   0               9
735          736   25                  5                   0               4
737          738   29                  4                   0               3
744          745   29                  9                   0               8
751          752   28                  5                   0               4
761          762   38                 20                   0              19
762          763   30                  6                   0               5
782          783   38                 17                   0              16
795          796   34                 13                   0              12
812          813   60                 12                   0              11
838          839   40                 21                   0              20
846          847   42                  4                   0               3
894          895   35                 17                   0              16
927          928   26                  8                   0               7
933          934   50                 19                   0              18
936          937   25                  4                   0               3
963          964   39                  9                   0               8
1014        1015   31                  4                   0               3
1028        1029   58                 38                   0              37
1061        1062   34                  2                   0               1
1062        1063   34                  4                   0               3
1072        1073   30                 10                   0               9
1091        1092   26                  5                   0               4
1100        1101   30                  4                   0               3
1101        1102   35                 12                   0              11
1109        1110   32                  8                   0               7
1112        1113   31                 10                   0               9
1130        1131   51                 11                   0              10
1142        1143   27                  6                   0               5
1150        1151   29                  7                   0               6
1152        1153   29                  6                   0               5
1158        1159   32                  4                   0               3
1161        1162   42                 10                   0               9
1163        1164   38                  8                   0               7
1167        1168   34                 16                   0              15
1178        1179   27                  6                   0               5
1196        1197   27                  5                   0               4
1202        1203   33                  4                   0               3
1208        1209   50                 28                   0              27
1231        1232   47                  8                   0               7
1232        1233   33                  6                   0               5
1290        1291   42                 21                   0              20
1321        1322   35                 16                   0              15
1328        1329   45                  9                   0               8
1334        1335   27                  6                   0               5
1338        1339   24                  4                   0               3
1346        1347   30                  6                   0               5
1374        1375   28                 10                   0               9
1379        1380   22                  1                   0               0
1383        1384   27                  5                   0               4
1400        1401   32                  4                   0               3
1402        1403   34                  3                   0               2
1431        1432   39                  9                   0               8
1433        1434   41                 10                   0               9
1434        1435   29                  8                   0               7
1440        1441   39                  6                   0               5
1445        1446   30                  9                   0               8
1450        1451   51                  8                   0               7
1454        1455   38                 10                   0               9
1469        1470   19                  1                   0               0

In [1130]:
anomaly_df = df[(df['TotalWorkingYears'] > 0) & (df['NumCompaniesWorked'] == 0) & (df['YearsAtCompany'] < df['TotalWorkingYears'])]
print('Anomaly Data Amount:', len(anomaly_df))
df = df.drop(anomaly_df.index)
df.head()

Anomaly Data Amount: 147

,EmployeeId,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1,2,37,1,Travel_Rarely,1141,Research & Development,11,2,Medical,1,Female,61,1,2,Healthcare Representative,2,Married,4777,14382,5,No,15,3,1,0,15,2,1,1,0,0,0
2,3,51,1,Travel_Rarely,1323,Research & Development,4,4,Life Sciences,1,Male,34,3,1,Research Scientist,3,Married,2461,10332,9,Yes,12,3,3,3,18,2,4,10,0,2,7
3,4,42,0,Travel_Frequently,555,Sales,26,3,Marketing,3,Female,77,3,4,Sales Executive,2,Married,13525,14864,5,No,14,3,4,1,23,2,4,20,4,4,8
6,7,40,0,Travel_Rarely,1124,Sales,1,2,Medical,2,Male,57,1,2,Sales Executive,4,Married,7457,13273,2,Yes,22,4,3,3,6,2,2,4,3,0,2
7,8,55,1,Travel_Rarely,725,Research & Development,2,3,Medical,4,Male,78,3,5,Manager,1,Married,19859,21199,5,Yes,13,3,4,1,24,2,3,5,2,1,4

In [1131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 911 entries, 1 to 1468
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmployeeId                911 non-null    int64
 1   Age                       911 non-null    int64
 2   Attrition                 911 non-null    int64
 3   BusinessTravel            911 non-null    object
 4   DailyRate                 911 non-null    int64
 5   Department                911 non-null    object
 6   DistanceFromHome          911 non-null    int64
 7   Education                 911 non-null    object
 8   EducationField            911 non-null    object
 9   EnvironmentSatisfaction   911 non-null    object
 10  Gender                    911 non-null    object
 11  HourlyRate                911 non-null    int64
 12  JobInvolvement            911 non-null    object
 13  JobLevel                  911 non-null    object
 14  JobRole                   911 non-null    object
 15  JobSatisfaction           911 non-null    object
 16  MaritalStatus             911 non-null    object
 17  MonthlyIncome             911 non-null    int64
 18  MonthlyRate               911 non-null    int64
 19  NumCompaniesWorked        911 non-null    int64
 20  OverTime                  911 non-null    object
 21  PercentSalaryHike         911 non-null    int64
 22  PerformanceRating         911 non-null    object
 23  RelationshipSatisfaction  911 non-null    object
 24  StockOptionLevel          911 non-null    object
 25  TotalWorkingYears         911 non-null    int64
 26  TrainingTimesLastYear     911 non-null    int64
 27  WorkLifeBalance           911 non-null    object
 28  YearsAtCompany            911 non-null    int64
 29  YearsInCurrentRole        911 non-null    int64
 30  YearsSinceLastPromotion   911 non-null    int64
 31  YearsWithCurrManager      911 non-null    int64
dtypes: int64(16), object(16)
memory usage: 234.9+ KB

In [1132]:
pd.reset_option('display.max_rows')

### **Feature Engineering**

In [1133]:
df['SatisfactionScore'] = (df['EnvironmentSatisfaction'].astype(int) + df['JobSatisfaction'].astype(int) + df['RelationshipSatisfaction'].astype(int)) / 3

df[['SatisfactionScore', 'EnvironmentSatisfaction', 'JobSatisfaction', 'RelationshipSatisfaction']].sample(5)

,SatisfactionScore,EnvironmentSatisfaction,JobSatisfaction,RelationshipSatisfaction
785,1.000000,1,1,1
1420,2.333333,3,2,2
994,2.333333,1,3,3
310,2.333333,4,2,1
1286,2.333333,3,1,3

In [1134]:
df['PromotionGap'] = df['YearsAtCompany'] - df['YearsSinceLastPromotion']

df[['PromotionGap', 'YearsAtCompany', 'YearsSinceLastPromotion']].sample(5)

      PromotionGap  YearsAtCompany  YearsSinceLastPromotion
439              8               8                        0
1415             9              13                        4
978              2               3                        1
473              9              21                       12
373              9               9                        0

In [1135]:
df['YearsInRoleRatio'] = df['YearsInCurrentRole'] / df['YearsAtCompany']
df['YearsInRoleRatioIsMissing'] = df['YearsInRoleRatio'].isna().astype(int)
df['YearsInRoleRatio'] = df['YearsInRoleRatio'].fillna(0)

df[['YearsInRoleRatio', 'YearsInCurrentRole', 'YearsAtCompany']].sample(5)

      YearsInRoleRatio  YearsInCurrentRole  YearsAtCompany
980           0.727273                   8              11
239           1.000000                   2               2
596           0.500000                   3               6
1153          1.000000                   7               7
528           0.700000                   7              10

In [1136]:
df['ManagerTenureGap'] = df['YearsAtCompany'] - df['YearsWithCurrManager']

df[['ManagerTenureGap', 'YearsAtCompany', 'YearsWithCurrManager']].sample(5)

      ManagerTenureGap  YearsAtCompany  YearsWithCurrManager
1030                13              21                     8
628                  0               2                     2
1349                 0               7                     7
476                  1               1                     0
298                  9              10                     1

#### **Binning**

In [1137]:
print(df['Age'].describe())

count    911.000000
mean      37.498353
std        9.594398
min       18.000000
25%       30.000000
50%       36.000000
75%       44.000000
max       60.000000
Name: Age, dtype: float64

In [1138]:
bins = [17, 30, 36, 44, 70]
labels = ['Young', 'Mid-Age', 'Senior', 'Old']
df['AgeGroup'] = pd.cut(df['Age'], bins=bins, labels=labels)
print(df['AgeGroup'].value_counts())

AgeGroup
Young      235
Mid-Age    232
Senior     223
Old        221
Name: count, dtype: int64

In [1139]:
print(df['MonthlyIncome'].describe())

count      911.000000
mean      6736.532382
std       4925.994167
min       1009.000000
25%       2906.500000
50%       5010.000000
75%       9082.500000
max      19973.000000
Name: MonthlyIncome, dtype: float64

In [1140]:
bins = [0, 2906, 5010, 9082, float('inf')]
labels = ['Low', 'Lower-Mid', 'Upper-Mid', 'High']
df['MonthlyIncomeGroup'] = pd.cut(df['MonthlyIncome'], bins=bins, labels=labels)
print(df['MonthlyIncomeGroup'].value_counts())

MonthlyIncomeGroup
Low          228
Lower-Mid    228
High         228
Upper-Mid    227
Name: count, dtype: int64

In [1141]:
print(df['DistanceFromHome'].describe())

count    911.000000
mean       9.095499
std        8.147317
min        1.000000
25%        2.000000
50%        7.000000
75%       13.500000
max       29.000000
Name: DistanceFromHome, dtype: float64

In [1142]:
bins = [0, 2, 7, 13.5, float('inf')]
labels = ['Very Close', 'Close', 'Medium', 'Far']
df['DistanceFromHomeGroup'] = pd.cut(df['DistanceFromHome'], bins=bins, labels=labels)
print(df['DistanceFromHomeGroup'].value_counts())

DistanceFromHomeGroup
Very Close    255
Close         239
Far           228
Medium        189
Name: count, dtype: int64

In [1143]:
df.to_csv('employee_data_processed.csv', index=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 911 entries, 1 to 1468
Data columns (total 40 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   EmployeeId                 911 non-null    int64
 1   Age                        911 non-null    int64
 2   Attrition                  911 non-null    int64
 3   BusinessTravel             911 non-null    object
 4   DailyRate                  911 non-null    int64
 5   Department                 911 non-null    object
 6   DistanceFromHome           911 non-null    int64
 7   Education                  911 non-null    object
 8   EducationField             911 non-null    object
 9   EnvironmentSatisfaction    911 non-null    object
 10  Gender                     911 non-null    object
 11  HourlyRate                 911 non-null    int64
 12  JobInvolvement             911 non-null    object
 13  JobLevel                   911 non-null    object
 14  JobRole                    911 non-null    object
 15  JobSatisfaction            911 non-null    object
 16  MaritalStatus              911 non-null    object
 17  MonthlyIncome              911 non-null    int64
 18  MonthlyRate                911 non-null    int64
 19  NumCompaniesWorked         911 non-null    int64
 20  OverTime                   911 non-null    object
 21  PercentSalaryHike          911 non-null    int64
 22  PerformanceRating          911 non-null    object
 23  RelationshipSatisfaction   911 non-null    object
 24  StockOptionLevel           911 non-null    object
 25  TotalWorkingYears          911 non-null    int64
 26  TrainingTimesLastYear      911 non-null    int64
 27  WorkLifeBalance            911 non-null    object
 28  YearsAtCompany             911 non-null    int64
 29  YearsInCurrentRole         911 non-null    int64
 30  YearsSinceLastPromotion    911 non-null    int64
 31  YearsWithCurrManager       911 non-null    int64
 32  SatisfactionScore          911 non-null    float64
 33  PromotionGap               911 non-null    int64
 34  YearsInRoleRatio           911 non-null    float64
 35  YearsInRoleRatioIsMissing  911 non-null    int64
 36  ManagerTenureGap           911 non-null    int64
 37  AgeGroup                   911 non-null    category
 38  MonthlyIncomeGroup         911 non-null    category
 39  DistanceFromHomeGroup      911 non-null    category
dtypes: category(3), float64(2), int64(19), object(16)
memory usage: 273.7+ KB

In [1144]:
# from sqlalchemy import create_engine

# PASSWORD = 'stardenburdenhardenbart'
# URL = f'postgresql://postgres.obiyvklxfgqgftyurwdx:{PASSWORD}@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres'

# engine = create_engine(URL)
# df.to_sql('employees', engine)

# # 994 -> Inserted

In [1145]:
df.sample(5)

,EmployeeId,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,SatisfactionScore,PromotionGap,YearsInRoleRatio,YearsInRoleRatioIsMissing,ManagerTenureGap,AgeGroup,MonthlyIncomeGroup,DistanceFromHomeGroup
493,494,38,0,Travel_Rarely,362,Research & Development,1,1,Life Sciences,3,Female,43,3,1,Research Scientist,1,Single,2619,14561,3,No,17,3,4,0,8,3,2,0,0,0,0,2.666667,0,0.000000,1,0,Senior,Low,Very Close
229,230,53,0,Travel_Rarely,447,Research & Development,2,3,Medical,4,Male,39,4,4,Research Director,2,Single,16598,19764,4,No,12,3,2,0,35,2,2,9,8,8,8,2.666667,1,0.888889,0,1,Old,High,Very Close
1106,1107,49,0,Non-Travel,1002,Research & Development,18,4,Life Sciences,4,Male,92,3,2,Manufacturing Director,4,Divorced,6804,23793,1,Yes,15,3,1,2,7,0,3,7,7,1,7,3.000000,6,1.000000,0,0,Old,Upper-Mid,Far
334,335,25,0,Travel_Rarely,1372,Sales,18,1,Life Sciences,1,Male,93,4,2,Sales Executive,3,Married,6232,12477,2,No,11,3,2,0,6,3,2,3,2,1,2,2.000000,2,0.666667,0,1,Young,Upper-Mid,Far
434,435,33,0,Travel_Frequently,1141,Sales,1,3,Life Sciences,3,Female,42,4,2,Sales Executive,1,Married,5376,3193,2,No,19,3,1,2,10,3,3,5,3,1,3,1.666667,4,0.600000,0,2,Mid-Age,Upper-Mid,Very Close

### **Exploratory Data Analysis**

In [1146]:
# Jumlah total karyawan
total_employees = len(df)

# Jumlah karyawan yang keluar (Attrition = 1)
count_employees_left = df[df['Attrition'] == 1].shape[0]

# Hitung attrition rate
attrition_rate = (count_employees_left / total_employees) * 100

print(f"Attrition Rate: {attrition_rate:.2f}%")

Attrition Rate: 17.56%

In [1147]:
def attrition_rate_by_column(df, column_name):
    """
    Menampilkan attrition rate berdasarkan kolom kategorikal.

    Parameters:
    df (DataFrame): DataFrame yang berisi data attrition
    column_name (str): Nama kolom kategorikal yang ingin dihitung attrition rate-nya

    Returns:
    DataFrame: Tabel dengan total karyawan, jumlah yang keluar, dan attrition rate per kategori
    """
    total_per_group = df.groupby(
        column_name,
        observed=False,
    ).size()
    keluar_per_group = df[df['Attrition'] == 1].groupby(
        column_name,
        observed=False,
    ).size()
    attrition_rate = (keluar_per_group / total_per_group) * 100

    result = pd.DataFrame({
        'Attrition Rate (%)': attrition_rate.round(2)
    }).fillna(0)

    result = result.sort_values(by='Attrition Rate (%)', ascending=False)
    result = result.reset_index()
    result.columns = [column_name, 'Attrition Rate (%)']
    print('')

    return result

In [1148]:
print(attrition_rate_by_column(df, 'AgeGroup'))
print(attrition_rate_by_column(df, 'Gender'))
print(attrition_rate_by_column(df, 'MaritalStatus'))
print(attrition_rate_by_column(df, 'EducationField'))
print(attrition_rate_by_column(df, 'Department'))
print(attrition_rate_by_column(df, 'JobLevel'))
print(attrition_rate_by_column(df, 'JobRole'))
print(attrition_rate_by_column(df, 'MonthlyIncomeGroup'))
print(attrition_rate_by_column(df, 'OverTime'))
print(attrition_rate_by_column(df, 'BusinessTravel'))
print(attrition_rate_by_column(df, 'DistanceFromHomeGroup'))
print(attrition_rate_by_column(df, 'JobSatisfaction'))
print(attrition_rate_by_column(df, 'EnvironmentSatisfaction'))
print(attrition_rate_by_column(df, 'RelationshipSatisfaction'))

  AgeGroup  Attrition Rate (%)
0    Young               28.51
1  Mid-Age               17.24
2   Senior               12.11
3      Old               11.76

   Gender  Attrition Rate (%)
0    Male               18.58
1  Female               16.20

  MaritalStatus  Attrition Rate (%)
0        Single               27.42
1       Married               14.65
2      Divorced                9.26

     EducationField  Attrition Rate (%)
0  Technical Degree               26.58
1         Marketing               22.68
2             Other               18.37
3     Life Sciences               16.93
4   Human Resources               16.67
5           Medical               14.14

               Department  Attrition Rate (%)
0                   Sales               21.77
1  Research & Development               15.79
2         Human Resources               15.62

  JobLevel  Attrition Rate (%)
0        1               28.61
1        3               15.97
2        2               10.90
3        5               10.00
4        4                4.11

                     JobRole  Attrition Rate (%)
0       Sales Representative               44.90
1      Laboratory Technician               28.40
2            Human Resources               20.00
3            Sales Executive               18.04
4         Research Scientist               17.30
5  Healthcare Representative                9.59
6                    Manager                7.04
7     Manufacturing Director                6.32
8          Research Director                3.51

  MonthlyIncomeGroup  Attrition Rate (%)
0                Low               30.70
1          Lower-Mid               17.11
2          Upper-Mid               11.89
3               High               10.53

  OverTime  Attrition Rate (%)
0      Yes               32.71
1       No               11.32

      BusinessTravel  Attrition Rate (%)
0  Travel_Frequently               23.30
1      Travel_Rarely               16.90
2         Non-Travel               11.11

  DistanceFromHomeGroup  Attrition Rate (%)
0                   Far               22.81
1                Medium               17.99
2                 Close               15.06
3            Very Close               14.90

  JobSatisfaction  Attrition Rate (%)
0               1               21.23
1               3               20.07
2               2               17.54
3               4               12.89

  EnvironmentSatisfaction  Attrition Rate (%)
0                       1               29.95
1                       2               18.29
2                       3               13.50
3                       4               12.73

  RelationshipSatisfaction  Attrition Rate (%)
0                        1               22.56
1                        4               17.56
2                        3               16.43
3                        2               14.84

### **Feature Selection**

In [1149]:
# df['Attrition'] = df['Attrition'].astype(float)
# df['Attrition'] = df['Attrition'].astype(int)
df['Attrition'].unique()

array([1, 0])

In [1150]:
correlation = df.corr(numeric_only=True)['Attrition'].sort_values(ascending=False)
print(correlation)

selected_num_cols = correlation[12:21].index.tolist()
selected_num_cols.append('Attrition')
print(selected_num_cols)

Attrition                    1.000000
DistanceFromHome             0.082093
YearsInRoleRatioIsMissing    0.064197
NumCompaniesWorked           0.022339
MonthlyRate                  0.016065
PercentSalaryHike           -0.002372
TrainingTimesLastYear       -0.028276
EmployeeId                  -0.028772
YearsSinceLastPromotion     -0.028941
HourlyRate                  -0.031614
DailyRate                   -0.036682
ManagerTenureGap            -0.056796
YearsInRoleRatio            -0.118978
YearsAtCompany              -0.123817
PromotionGap                -0.140687
YearsWithCurrManager        -0.146419
SatisfactionScore           -0.148939
YearsInCurrentRole          -0.153023
MonthlyIncome               -0.170634
Age                         -0.176516
TotalWorkingYears           -0.182297
Name: Attrition, dtype: float64
['YearsInRoleRatio', 'YearsAtCompany', 'PromotionGap', 'YearsWithCurrManager', 'SatisfactionScore', 'YearsInCurrentRole', 'MonthlyIncome', 'Age', 'TotalWorkingYears', 'Attrition']

In [1151]:
import scipy.stats as stats

selected_cat_cols = list()
for col in df.select_dtypes(include=['object', 'category']).columns:
    contingency = pd.crosstab(df[col], df['Attrition'])
    chi2, p, dof, _ = stats.chi2_contingency(contingency)
    if p < 0.05:
      print(f"{col}: p-value = {p}")
      selected_cat_cols.append(col)

print('')
print(selected_cat_cols)

selected_cols = selected_num_cols + selected_cat_cols
selected_df = df[selected_cols].copy()
selected_df.sample(5)

BusinessTravel: p-value = 0.033735088573280406
EnvironmentSatisfaction: p-value = 4.784486187799186e-06
JobInvolvement: p-value = 5.363879739144938e-06
JobLevel: p-value = 6.02948165427743e-10
JobRole: p-value = 1.0605394692845314e-10
MaritalStatus: p-value = 7.940012285733521e-08
OverTime: p-value = 2.5680633331390527e-14
StockOptionLevel: p-value = 4.1737575988602014e-10
WorkLifeBalance: p-value = 0.00616705601922438
AgeGroup: p-value = 2.047483275247304e-06
MonthlyIncomeGroup: p-value = 1.038319699255635e-08

['BusinessTravel', 'EnvironmentSatisfaction', 'JobInvolvement', 'JobLevel', 'JobRole', 'MaritalStatus', 'OverTime', 'StockOptionLevel', 'WorkLifeBalance', 'AgeGroup', 'MonthlyIncomeGroup']

,YearsInRoleRatio,YearsAtCompany,PromotionGap,YearsWithCurrManager,SatisfactionScore,YearsInCurrentRole,MonthlyIncome,Age,TotalWorkingYears,Attrition,BusinessTravel,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobRole,MaritalStatus,OverTime,StockOptionLevel,WorkLifeBalance,AgeGroup,MonthlyIncomeGroup
1302,0.666667,15,11,12,3.000000,10,5593,45,15,0,Non-Travel,2,2,2,Sales Executive,Married,No,1,3,Old,Upper-Mid
892,0.000000,0,0,0,3.333333,0,1051,18,0,0,Non-Travel,2,3,1,Research Scientist,Single,No,0,3,Young,Low
1123,0.666667,3,2,0,2.000000,2,16422,31,9,0,Travel_Rarely,1,3,4,Research Director,Single,No,0,4,Mid-Age,High
1169,0.722222,18,17,12,2.666667,13,10475,40,20,0,Travel_Frequently,4,2,3,Sales Executive,Married,Yes,1,3,Senior,High
631,0.500000,4,4,3,2.333333,2,2387,40,7,0,Travel_Rarely,2,3,1,Laboratory Technician,Married,No,1,3,Senior,Low

In [1152]:
for col in selected_cols:
  print('{}: {}'.format(col, selected_df[col].unique()))

YearsInRoleRatio: [0.         0.2        0.75       0.4        0.125      1.
 0.84615385 0.35       0.5        0.83333333 0.3        0.21428571
 0.92307692 0.47368421 0.7        0.85714286 0.66666667 0.88888889
 0.8        0.90909091 0.625      0.42857143 0.6        0.07142857
 0.33333333 0.36842105 0.9        0.68181818 0.55555556 0.4375
 0.875      0.25       0.77777778 0.57142857 0.375      0.45454545
 0.91666667 0.8125     0.76470588 0.71428571 0.27586207 0.11111111
 0.36       0.32       0.84210526 0.13636364 0.17647059 0.73333333
 0.72727273 0.81818182 0.46666667 0.16666667 0.29032258 0.63636364
 0.52631579 0.28571429 0.38888889 0.29166667 0.38095238 0.48387097
 0.72222222 0.69230769 0.15625    0.21212121 0.36363636 0.57692308
 0.27272727 0.52941176 0.76190476 0.31818182 0.15384615 0.82352941
 0.93333333 0.61538462 0.40909091 0.34615385 0.76923077 0.77272727
 0.55       0.70588235 0.78571429 0.14285714 0.48       0.53846154
 0.19354839 0.44444444 0.34482759 0.85       0.54166667 0.09090909
 0.10526316 0.92857143 0.64705882 0.41666667]
YearsAtCompany: [ 1 10 20  4  5  8  7 13  6 14  2 19  3  9 11 22  0 32 12 16 17 29 27 25
 18 24 34 15 21 31 33 26 40]
PromotionGap: [ 1  8 16  4  7  0  5 12  9  3 15 13  2 10  6 26 11 18 22 14 33 31 17 20
 25 19 21 23]
YearsWithCurrManager: [ 0  7  8  2  4  3  9 10 13  6  1  5 11 15 16 12 17 14]
SatisfactionScore: [1.33333333 2.33333333 3.         3.66666667 1.66666667 3.33333333
 2.66666667 4.         2.         1.        ]
YearsInCurrentRole: [ 0  4  3  2  1  7 11  5  6 12  9  8 10 15 14 13 16 17 18]
MonthlyIncome: [ 4777  2461 13525  7457 19859  2153 11159  4256  2973 15992  5329  4553
 19406 18711  2725 13237  6230  5228  2293 17123  2267  3491  2844  2909
  6653  6162  4221  6172  3875  6524  2377  4152  3447 10221  6397  3722
  2370  5396  2768 11878  5070  3833  3346 10609  2288  5346 13247  5454
  2177  5265  2693  2819  5940  3376 10851  8865 10239  9547  2622  2625
  9981  2741 19545  7725  1904  2279  4775  2436  2720  8834 19845  6929
  2642  4707  9884 19740  6694  2394  8793  6334  2539  2793  6812 18265
  6474  8686  4403  3660  4739 17444  4765 13191  3452  4449  9602  5605
  5160  6125  1200 16015  4768 13734 11557  4148  2543  2207  2014 10512
 10920  4554  9950  4485  3204 12808  9985  5304 13320  2500  1416  2356
 10096  2450  3580  4615  3929 19701  2194  2994 10400  5562  5731  6553
  2306  4907  2083  2413 16598  2297  2553  4936 16064  6502  5985  2029
  5253  8396  6500  5933  3424  2960 19566  9204  4678  4025  6380  5744
  4014  8120 17399 17779  2476  4559  5238 10650  3162 18740  6220 19190
 15427 16835  5666  2742  9439  5810  3485  3681  4647  2073  2683 16792
 16595  2827 18722  4883 10502  2936  6322  2024  2799 11849  1859  5163
 13402 12061  6781 10739  4294  7642  5915  4286 17159 11935  7264 13503
 13212  6232  6272  8998  5309  5415  4621  2821  4741  4157  8189  2552
 10855  5257  1281 16856  6567  2258  2322 14756 14275  2479  8474  3038
  5914  4327  5674  1232  2579  4809  5204  3697  6861 13675  2659  2341
  3755  2700  7639  2362  2368  4051  4317  1601 13973  7428  2109  7654
  4444  5993  6142  3919  2326  2132  4680  4717 10673  2835 19237  2332
  4381  5376  3629  7632  2176  5980 17068  5171  6201 12185  3310 19502
  3622  8726 10999  2238  3692  4876  4424  1009  8789  4377  1223  5405
  5067 19141  3597  2532 10048  6385  5126  2119  4031  3034  2107  9278
 13582  2619 16307  5974  2926  2270  2210  5577 10965  1675 18430 19197
  4639 10496  5679  5775  3407  4834  6623  9434 19246 19626  9419  5324
  4695  2670  4284  4724  7094  2028  6932 10932  2811 18172 13610 10527
  2313 13664  4306 19517 10008  2218  2007  2285 11904 10552  2713  6578
  5772  2302  1261  2323  2935  3419  2022 10266  2404  3408  4487  6651
 14336 17007  2220  3505  2572 10325  2904  6180  2089  2778 16555  9699
  5472  2942  3815  3955  7336  1359  6804  7587  2387  4420  7143  8446
  2070  2996  4272  2290  1052  6833  1102  2090  2274  2380  7484  2372
  5010  2956  4163  2600  2546  4968  2201  4577  3931 11996  5121  8847
  4425  6465 18200 17856  6755 11916  5460 19068  5429  2075 19144 18789
  2451  7918  2328 17048  7988  2406  3975  9852  9208 14026  8943  2348
 10312  2657  6644 10248  6499  5258  3161  5296 16756  1951  6725  3140
  4382  4249  6434  4434  4649  2875  7637  2911  7969 12169  2979  3072
  2340  2515 19189  5301  2121  2318  5079  4200  5902  3348  4810  9071
  4721  6389  8268  3564  2269  9396  3761  2514  3221  5714  6179  4240
  4522  5337  2950  2889 18947  3760  9355  2654  4779  4539  3600  3673
 10231 12742  2232 10377  2373  6377  6209  5210 19513 16880  3633  9069
  7898  3319  3230  3057  3464 14852  9362  2088 13726 13120 14814 11836
  7446  9980  2042  2044  6582  2277  3229  8621 13458  9380  4422  2244
  6673 16627 12504  1051  3867 15402 19033  4194  3339 10976 10648  4941
  6893  4257  5473  2478  7823  2008  6545  4505  8392  2610  2564  5175
  7779 18213  2235  5056  3690  2096  4323  2851 14118  2086  5660  5482
 16184  7351 13603  3022  2707  3894  3149 10322  4601  3294 17328  2795
  4319  2080  2519  4490 19272  4963  2011  7403  2759  4115 13757  3708
 13826  3691  5093  4335  2871  9824  4037  1118  5561  2157  4869  5485
  3420  5237  2127  5765  1878  5055 19232  6347 10880  7547  5006  3441
  4859  2097  4033 10798  6540  8966  3780  2678  2686 19419 19717  4478
  4541  6538  1611  2743  3280 16659  3669  4558 18303  5381  4766  4908
  3917  2115  3448 19973  4260  4011  7596 18606  3468 10934 10445  6931
  2576  5916  5326  2613 17584  4298  9619 17861  1420  2366  4400  5486
  2818 16422  9998  4736  6447  2886  4477  7978  4244  2691  2066  2496
 13577 17465 18061 14732  2534  6244  4960  3202  6687  7491  6214 13964
 10475  1702  1706  5249 18300  6261  2632  2703  3423 13194 19187  2376
  4089  6852  1483  3646 10466  2836  5484 16959  4364  2093  4759 13695
  5231  5155  3617  6274  2716  3920  4682 16752  2033  7412 17924  2319
  5647  9724  6796  5488  7379 10725 10685  6782  5745 10686  4197  3033
  5094 19847  6074  7406  1274 19926  2501  5467 17181 17099  4661 18665
  5769  3944 10596  2345  3131  9705  6091  4262  7295 17650 10820 17169
 13142 10845 10482 16124 10453  2800  5715  6696  6062  6811  4233  6032
  5410  6288  2506  5593 13770 19943 18844  2216  4728  6877  2206  3743
  2213 11103 19081  5021 13499 11713  4081  2789  2143 10252  2566 19537
  7525  2559  3816  5957  6151 16872 19627  4998 13591  2174  3688  2231
  4450  6120 10793  5071 10761  2794  7260  6132 17639  4508  5003  3196
  2976  2756 10274 13245 10388 11631  4162  5828  2645  4107  6410  4000
  5209  2596 10903  7119  6118  2694  4447  8639  2859  2259 19094  2329
  2785 12490  5130  2723  3212  6646 18824  4969  2311  4556  9094  4325
  2389  2517 13549 16885  8381  8722  7861  3544]
Age: [37 51 42 40 55 36 32 25 20 38 39 54 49 24 41 59 30 28 31 50 26 21 35 34
 33 47 58 43 52 44 23 45 27 18 22 29 48 46 53 19 60 57 56]
TotalWorkingYears: [15 18 23  6 24  8 10  5  1 16 17 20 22 13 21  7  9 12  4 11  3 14  2  0
 33 25 28 19 32 35 36 29 26 31 37 34 27 40 30]
Attrition: [1 0]
BusinessTravel: ['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']
EnvironmentSatisfaction: ['1' '3' '2' '4']
JobInvolvement: ['1' '3' '2' '4']
JobLevel: ['2' '1' '4' '5' '3']
JobRole: ['Healthcare Representative' 'Research Scientist' 'Sales Executive'
 'Manager' 'Laboratory Technician' 'Research Director'
 'Manufacturing Director' 'Human Resources' 'Sales Representative']
MaritalStatus: ['Married' 'Single' 'Divorced']
OverTime: ['No' 'Yes']
StockOptionLevel: ['0' '3' '1' '2']
WorkLifeBalance: ['1' '4' '2' '3']
AgeGroup: ['Senior', 'Old', 'Mid-Age', 'Young']
Categories (4, object): ['Young' < 'Mid-Age' < 'Senior' < 'Old']
MonthlyIncomeGroup: ['Lower-Mid', 'Low', 'High', 'Upper-Mid']
Categories (4, object): ['Low' < 'Lower-Mid' < 'Upper-Mid' < 'High']

### **Feature Encoding**

In [1153]:
selected_df['AgeGroup'] = selected_df['AgeGroup'].map({
    'Young': 0,
    'Mid-Age': 1,
    'Senior': 2,
    'Old': 3,
})
selected_df['AgeGroup'] = selected_df['AgeGroup'].astype(int)

selected_df['MonthlyIncomeGroup'] = selected_df['MonthlyIncomeGroup'].map({
    'Low': 0,
    'Lower-Mid': 1,
    'Upper-Mid': 2,
    'High': 3,
})
selected_df['MonthlyIncomeGroup'] = selected_df['MonthlyIncomeGroup'].astype(int)

In [1154]:
selected_df = pd.get_dummies(
    selected_df,
    columns=['BusinessTravel', 'JobRole', 'MaritalStatus', 'OverTime'],
    dtype=int,
)
print(selected_df.shape)
selected_df.sample(5)

(911, 34)

,YearsInRoleRatio,YearsAtCompany,PromotionGap,YearsWithCurrManager,SatisfactionScore,YearsInCurrentRole,MonthlyIncome,Age,TotalWorkingYears,Attrition,EnvironmentSatisfaction,JobInvolvement,JobLevel,StockOptionLevel,WorkLifeBalance,AgeGroup,MonthlyIncomeGroup,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,JobRole_Healthcare Representative,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
28,1.0,2,0,2,3.000000,2,2267,59,7,0,2,3,1,0,2,3,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,1,0
103,1.0,7,7,7,3.666667,7,9981,27,7,0,4,3,2,0,3,0,3,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0
1212,1.0,7,7,1,3.000000,7,4682,33,9,0,2,2,2,0,2,1,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0
748,1.0,2,0,1,3.333333,2,4382,28,5,1,3,3,1,0,2,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,1,0
947,0.0,1,1,0,3.666667,0,2086,39,19,1,4,3,2,1,4,2,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0

### **Feature Splitting**

In [1155]:
from sklearn.model_selection import train_test_split

X = selected_df.drop(columns=['Attrition'])
y = selected_df['Attrition']

print(y.value_counts())

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Attrition
0    751
1    160
Name: count, dtype: int64

In [1156]:
X_train

,YearsInRoleRatio,YearsAtCompany,PromotionGap,YearsWithCurrManager,SatisfactionScore,YearsInCurrentRole,MonthlyIncome,Age,TotalWorkingYears,EnvironmentSatisfaction,JobInvolvement,JobLevel,StockOptionLevel,WorkLifeBalance,AgeGroup,MonthlyIncomeGroup,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,JobRole_Healthcare Representative,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
36,0.888889,9,2,8,2.333333,8,6162,32,9,1,3,2,1,3,1,2,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1
142,0.571429,14,11,11,3.333333,8,6474,37,14,4,2,2,1,2,2,2,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,1,0
15,0.846154,13,12,9,3.333333,11,5329,38,17,2,1,2,3,3,2,2,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1
560,0.000000,0,0,0,1.666667,0,4306,26,8,1,3,2,2,3,0,1,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,1,0
1438,0.000000,1,1,0,3.000000,0,2723,51,1,3,3,1,0,2,3,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,1.000000,2,0,2,3.000000,2,2014,35,2,4,3,1,0,3,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0
441,0.466667,15,11,12,2.000000,7,5980,38,17,1,4,2,0,3,2,2,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1
1388,0.875000,8,7,6,3.333333,7,2756,33,8,4,3,1,1,3,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,1,0
720,0.272727,33,33,10,2.333333,9,14026,51,33,3,3,4,1,3,3,3,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1
173,0.800000,5,5,1,3.333333,4,11557,31,10,3,2,3,1,2,1,3,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0

In [1157]:
X_test

,YearsInRoleRatio,YearsAtCompany,PromotionGap,YearsWithCurrManager,SatisfactionScore,YearsInCurrentRole,MonthlyIncome,Age,TotalWorkingYears,EnvironmentSatisfaction,JobInvolvement,JobLevel,StockOptionLevel,WorkLifeBalance,AgeGroup,MonthlyIncomeGroup,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,JobRole_Healthcare Representative,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
1155,0.600000,5,4,4,1.666667,3,3202,24,6,1,3,1,0,3,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,1
1238,0.000000,1,1,1,3.000000,0,4197,37,18,3,3,2,0,2,2,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,1
891,0.000000,0,0,0,2.000000,0,12504,48,15,1,3,3,1,1,3,3,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,1,0
600,1.000000,1,1,0,3.333333,1,2220,34,1,3,3,1,1,3,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1
592,0.750000,4,3,3,2.000000,3,3408,33,8,1,1,1,3,3,1,1,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,0.900000,10,5,9,2.666667,9,10008,58,31,3,2,3,0,2,3,3,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1
955,0.166667,6,6,5,2.333333,1,16184,33,10,1,4,4,1,3,1,3,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0
1444,0.416667,24,23,11,1.333333,10,18824,45,26,1,1,5,0,3,3,3,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,1
746,0.875000,8,2,3,2.333333,7,6725,32,8,3,3,2,1,4,1,2,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,1,0
1278,0.875000,8,8,7,3.000000,7,10845,46,13,4,3,3,1,3,3,3,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,1,0

### **Feature Balancing**

In [1158]:
from sklearn.preprocessing import MinMaxScaler
from imblearn.over_sampling import SMOTE

scaler = MinMaxScaler()

# Fitting scaler hanya pada X_train
X_train_scaled = scaler.fit_transform(X_train)

# Menggunakan scaler yang sama untuk mentransformasi X_test
X_test_scaled = scaler.transform(X_test)

joblib.dump(scaler, 'scaler.pkl')

smote = SMOTE(random_state=42)
X_train_resampled, y_train_resampled = smote.fit_resample(X_train_scaled, y_train)
print(y_train_resampled.value_counts())

Attrition
0    602
1    602
Name: count, dtype: int64

## **Modeling & Evaluation**

In [1159]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.metrics import classification_report

In [1160]:
lr = LogisticRegression()
lr.fit(X_train_resampled, y_train_resampled)
lr_y_pred = lr.predict(X_test_scaled)

print('Logistic Regression Classification Report:\n', classification_report(
    y_test,
    lr_y_pred,
    target_names=['Stay', 'Resign'],
))

knn = KNeighborsClassifier()
knn.fit(X_train_resampled, y_train_resampled)
knn_y_pred = knn.predict(X_test_scaled)

print('K-Nearest Neighbors Classification Report:\n', classification_report(
    y_test,
    knn_y_pred,
    target_names=['Stay', 'Resign'],
))

lda = LinearDiscriminantAnalysis()
lda.fit(X_train_resampled, y_train_resampled)
lda_y_pred = lda.predict(X_test_scaled)

print('Linear Discriminant Analysis Classification Report:\n', classification_report(
    y_test,
    lda_y_pred,
    target_names=['Stay', 'Resign'],
))

Logistic Regression Classification Report:
               precision    recall  f1-score   support

        Stay       0.94      0.81      0.87       149
      Resign       0.48      0.79      0.60        34

    accuracy                           0.80       183
   macro avg       0.71      0.80      0.73       183
weighted avg       0.86      0.80      0.82       183

K-Nearest Neighbors Classification Report:
               precision    recall  f1-score   support

        Stay       0.90      0.72      0.80       149
      Resign       0.35      0.65      0.45        34

    accuracy                           0.71       183
   macro avg       0.62      0.69      0.63       183
weighted avg       0.80      0.71      0.74       183

Linear Discriminant Analysis Classification Report:
               precision    recall  f1-score   support

        Stay       0.95      0.74      0.83       149
      Resign       0.42      0.82      0.55        34

    accuracy                           0.75       183
   macro avg       0.68      0.78      0.69       183
weighted avg       0.85      0.75      0.78       183

In [1161]:
import joblib

joblib.dump(
    lr,
    'lr_model.pkl',
)

['lr_model.pkl']

In [ ]:
# print(gdown.__version__)
# print(pd.__version__)
# print(scipy.__version__)
# print(sklearn.__version__)
# print(imblearn.__version__)

# with open("requirements.txt", "w") as f:
#     f.write("\n".join([
#         "gdown==5.2.0",
#         "pandas==2.2.2",
#         "scipy==1.15.2",
#         "scikit-learn==1.6.1",
#         "imbalanced-learn==0.13.0"
#     ]))

In [186]:
!pip freeze > requirements.txt